<div class="container">
  <h1>Contato:</h1>
  <table>
    <tr>
      <td>João Paulo:</td>
      <td>
        <a href="https://github.com/joaopauloll">
          <i class="fa fa-github" style="font-size: 36px"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>Jim:</td>
      <td>
        <a href="https://github.com/JimNadab">
          <i class="fa fa-github" style="font-size: 36px"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>Maria:</td>
      <td>
        <a href="https://github.com/mariaeloi">
          <i class="fa fa-github" style="font-size: 36px"></i>
        </a>
      </td>
    </tr>
  </table>
</div>
