<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>Contato:</h1>
    <table>
      <tr>
        <td>João Paulo:</td>
        <td>
          <a href="https://github.com/joaopauloll">
            <i class="fa fa-github" style="font-size: 36px"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>Jim:</td>
        <td>
          <a href="https://github.com/JimNadab">
            <i class="fa fa-github" style="font-size: 36px"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>Maria:</td>
        <td>
          <a href="https://github.com/mariaeloi">
            <i class="fa fa-github" style="font-size: 36px"></i>
          </a>
        </td>
      </tr>
    </table>
  </body>
</html>
