<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div *ngIf="router.url === '/courses'; else mycourses">
      <mat-card *ngFor="let course of courses" class="course-card">
        <mat-card-title>
          <a href="/courses/{{ course.title }}" class="title">{{
            course.title
          }}</a>
        </mat-card-title>
        <mat-card-subtitle>Front-End</mat-card-subtitle>
        <mat-card-content>
          <p>{{ course.description }}</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions
          *ngIf="userLoggedIn.id == course.ownerId; else subscribe1"
        >
          <button mat-button routerLink="/courses/edit/{{ course.id }}">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-button
            (click)="openConfirmationWindow(course.title, course.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
        <ng-template #subscribe1>
          <mat-card-actions>
            <button mat-flat-button color="primary">Matricule-se</button>
          </mat-card-actions>
        </ng-template>
        <mat-card-footer>
          <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        </mat-card-footer>
      </mat-card>
    </div>
    <ng-template #mycourses>
      <button
        *ngIf="userLoggedIn.role == 1"
        class="add-button"
        mat-flat-button
        color="primary"
        routerLink="/create-course"
      >
        Adicionar Curso</button
      ><br />
      <mat-card *ngFor="let mycourse of my_courses" class="course-card">
        <mat-card-title>
          <a href="/courses/{{ mycourse.id }}" class="title">{{
            course.title
          }}</a>
        </mat-card-title>
        <mat-card-subtitle>Front-End</mat-card-subtitle>
        <mat-card-content>
          {{ mycourse.description }}
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions
          *ngIf="userLoggedIn.id == course.ownerId; else subscribe2"
        >
          <button mat-button routerLink="/courses/edit/{{ course.id }}">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-button
            (click)="openConfirmationWindow(course.title, course.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
        <ng-template #subscribe2>
          <mat-card-actions>
            <button mat-flat-button color="primary">Matricule-se</button>
          </mat-card-actions>
        </ng-template>
        <mat-card-footer>
          <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        </mat-card-footer>
      </mat-card>
    </ng-template>
  </body>
</html>
