body {
    text-align: center;
    background: url("src\assets\images\study-1.jpg");
    background-size: 100%;
    min-height: 84.3vh;
}

mat-card {
    display: inline-block;
    text-align: left;
}

.title {
    font-size: 2rem;
    padding: 14px 0px;
    text-decoration: none;
    display: inline-block;
}

.course-card {
    margin: 1rem;
}