button {
    font-size: 16px;
}

.example-spacer {
    flex: 1 1 auto;
  }

.app-title {
    font-size: 22px;
}

.mat-icon {
    margin-right: 5px;
}

.search-icon {
    font-size: 28px;
    margin-right: 8px;
}

mat-sidenav {
  background-color: #ffffff;
}

mat-sidenav-content {
    height: 100vh;
    background-image: linear-gradient(to right top, #5792e9, #09b3e4, #63cbcd, #acdbc3, #e2e9d3);
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
      causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
      `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}


footer {
  background-color: #673ab7;
  text-align: center;
  color: white;
  padding: 1rem;
}

.copyright {
  font-size: 1rem;
  vertical-align: middle;
  margin-right: 0;
}

::ng-deep .mat-menu-panel.menu { width: 400px; } 

.name, .email {
  text-align: center;
}

.avatar {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #673ab7;
  color: white;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.letter {
  margin: auto;
  font-size: 2rem;
}