body {
    text-align: center;
}

mat-card {
    display: inline-block;
    text-align: left;
}

.title {
    font-size: 2rem;
    padding: 14px 0px;
    text-decoration: none;
    display: inline-block;
}

.course-card {
    margin: 1rem;
}