<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div *ngIf="router.url === '/profile'; else edit">
      <div class="avatar">
        <span class="letter">{{ user.name[0].toUpperCase() }}</span>
      </div>
      <button class="edit-button" mat-button routerLink="/edit/{{ user.id }}">
        <mat-icon>edit</mat-icon>
      </button>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td>Nome:</td>
          <td>{{ user.name }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <td>Nome de Usuário:</td>
          <td>{{ user.username }}</td>
        </tr>
      </table>
      <mat-divider></mat-divider>
    </div>
    <ng-template #edit>
      <div class="avatar">
        <span class="letter">{{ user.name[0].toUpperCase() }}</span>
      </div>
      <mat-divider></mat-divider>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <table>
          <tr>
            <td>Nome:</td>
            <td>
              <input
                matInput
                formControlName="name"
                placeholder="Digite seu nome"
                value="{{ user.name }}"
              />
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>
              <input
                matInput
                formControlName="email"
                placeholder="Digite seu email"
                value="{{ user.email }}"
              />
            </td>
          </tr>
          <tr>
            <td>Nome de Usuário:</td>
            <td>
              <input
                matInput
                formControlName="username"
                placeholder="Digite seu nome de usuário"
                value="{{ user.username }}"
              />
            </td>
          </tr>
          <tr>
            <td>Senha:</td>
            <td>
              <input
                matInput
                type="password"
                formControlName="password"
                placeholder="Digite sua senha atual"
              />
            </td>
          </tr>
        </table>
        <mat-divider></mat-divider>
        <button
          type="submit"
          class="save-button"
          mat-flat-button
          color="primary"
        >
          Salvar Alterações
        </button>
      </form>
    </ng-template>
  </body>
</html>
