body {
    text-align: center;
    /* background: url("src\assets\images\workspace.jpg"); */
    background-size: 100%;
    min-height: 84.3vh;
    overflow: auto;  /*this is to avoid increasing page height by adding margins*/
}

@media only screen and (max-width: 1600px) {
    .body {
      background: purple;
    }
}

.avatar {
    text-align: center;
    vertical-align: middle;
    margin: 7rem auto 1rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #673ab7;
    color: white;
    display: flex;
    justify-content: center;
}
  
.letter {
margin: auto;
font-size: 4rem;
}

table {
    margin: 0 auto ;
    text-align: left;
    font-size: 25px;
}

td {
    padding: 10px;
}

mat-divider {
    /* margin: 0 25rem 0; */

    border-top-width: 2px;
    border-top-color: #673ab7;
    margin: auto;
    width: 40%;
    min-width: 550px;
}

.edit-button {
    margin: 0px auto 20px;
}

.save-button {
    margin-top: 15px;
}