<div class="container">
  <mat-card>
    <mat-card-title *ngIf="router.url === '/create-course'; else edit1"
      >Cadastro de Curso</mat-card-title
    >
    <ng-template #edit1>
      <mat-card-title>Edição de Curso</mat-card-title>
    </ng-template>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Título"
              formControlName="title"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <textarea
              matInput
              placeholder="Descrição"
              formControlName="description"
            ></textarea>
          </mat-form-field>
        </p>

        <div *ngIf="errors">
          <div *ngFor="let error of errors" class="errors">
            {{ error }}
          </div>
        </div>

        <div class="button">
          <button type="button" mat-button routerLink="/my-courses">
            Voltar
          </button>
          <button
            *ngIf="router.url === '/create-course'; else edit2"
            type="submit"
            mat-button
            (click)="openSnackBar('Curso criado com sucesso!')"
          >
            Cadastrar Curso
          </button>
          <ng-template #edit2>
            <button
              type="submit"
              mat-button
              (click)="openSnackBar('Curso editado com sucesso!')"
            >
              Salvar Alterações
            </button>
          </ng-template>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
